$theme-base: #121212;
$theme-dp01: #1d1d1d;
$theme-dp02: #212121;
$theme-dp03: #242424;
$theme-dp04: #272727;
$theme-dp06: #2c2c2c;
$theme-dp08: #2d2d2d;
$theme-dp12: #323232;
$theme-dp16: #353535;
$theme-dp24: #373737;
$theme-accent: #faf9f5;
